@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: rgba(101, 85, 143, 1);
  --secondary: rgba(232, 222, 248, 1);
  --primary-container: rgba(234, 221, 255, 1);
  --secondar-container: rgba(232, 222, 248, 1);
  --on-surface: rgba(29, 27, 32, 1);
  --surface: rgba(254, 247, 255, 1);
  --on-primary-container: rgba(33, 0, 93, 1);
  --on-secondary-container: rgba(29, 25, 43, 1);
  --on-surface-variant: rgba(73, 69, 79, 1);
  --surface-container-high: rgba(236, 230, 240, 1);
  --surface-container-low: rgba(98, 91, 113, 1);
}

body {
  color: var(--on-surface);
  background: var(--surface);
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

@keyframes bounce1 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px); /* Adjust height for the bouncing effect */
  }
}

@keyframes bounce2 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}

@keyframes bounce3 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}

/* Assigning each dot its unique timing */
.animate-bounce1 {
  animation: bounce1 0.6s infinite;
}

.animate-bounce2 {
  animation: bounce2 0.6s infinite 0.2s; /* 0.2s delay */
}

.animate-bounce3 {
  animation: bounce3 0.6s infinite 0.4s; /* 0.4s delay */
}


