@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: rgba(101, 85, 143, 1);
  --secondary: rgba(232, 222, 248, 1);
  --primary-container: rgba(234, 221, 255, 1);
  --secondar-container: rgba(232, 222, 248, 1);
  --on-surface: rgba(29, 27, 32, 1);
  --surface: rgba(254, 247, 255, 1);
  --on-primary-container: rgba(33, 0, 93, 1);
  --on-secondary-container: rgba(29, 25, 43, 1);
  --on-surface-variant: rgba(73, 69, 79, 1);
  --surface-container-high: rgba(236, 230, 240, 1);
  --surface-container-low: rgba(98, 91, 113, 1);
}

body {
  color: var(--on-surface);
  background: var(--surface);
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}


